<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All TablesDocument</title>
</head>
<body>
    <h1>Displaying All Tables</h1>
    <table border="4px" align="Left" width="150px">
        <tr>
            <th>topic_name</th>
        </tr>
        {% for to in LTO %}
        <tr>
            <td>{{to.topic_name}}</td>
        </tr>

        {% endfor %}
    </table>
    <table border="4px" align="Center">
        <tr>
            <th>topic_name</th>
            <th>name</th>
            <th>url</th>
        </tr>
        {% for wo in LWO %}
        <tr>
            <td>{{wo.topic_name}}</td>
            <td>{{wo.name}}</td>
            <td>{{wo.url}}</td>
        </tr>

        {% endfor %}
    </table>
    <table border="4px" align="Right"  height="200px">
        <tr>
            
            <th>name</th>
            <th>date</th>
            <th>author</th>
        </tr>
        {% for ao in LAO %}
        <tr>
            <td>{{ao.name}}</td>
            <td>{{ao.date}}</td>
            <td>{{ao.author}}</td>
        </tr>

        {% endfor %}
    </table>
</body>
</html>